body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #202124;
    background-color: #fff;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 6px;
}

header nav {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  align-items: center;
  gap: 12px;

  width: 100%;
}


#google-lebs{
    order: -1;
}

header nav a {
    font-size: 14px;
    font-weight: bolder;
}
#gmail {
    display: none;
}
header nav button {
    width: 40px;
    height: 40px;
    padding: 0;
}

header nav button img{
    width: 38px;
    height: 25px;
    padding: 0;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.profile>img{
    width: 38px;
    height: 38px;
    border-radius: 99px;
}

header nav button:hover, .profile:hover{
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 99px;
}

#icon-image{
    width: 24px;
    height: 22px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
}

.logo img {
    width: clamp(80px, 28vw, 272px);
    height: auto;
}

.search-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
  width: min(90%, 584px);
  height: 44px;

  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 0 8px;

  background-color: #fff;
}

.search:hover,
.search:focus-within {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: transparent;
}

.add-img {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-img > button {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  padding: 0;
  border: none;
  background: transparent;
}

.add-img > button:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

#search {
  flex: 1;
  height: 100%;

  border: none;
  outline: none;

  font-size: 16px;
  padding: 0 8px;
}


.search-assistance {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ai-mode {
    order: -1;
    display: flex;
    align-items: center;
    gap: 6px;

    height: 32px;
    padding: 0 10px;

    border-radius: 16px;
    border-radius: 16px;

    font-size: 14px;

    cursor: pointer;
}

.ai-mode span{
    display: none;
}


.buttons {
    margin-top: 24px;

    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.buttons button {
    height: 36px;
    padding: 0 16px;

    font-size: 14px;
    color: #3c4043;

    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 8px;

    cursor: pointer;
}

.buttons button:hover {
    background-color: #f8f9fa;     
    border: 1px solid #dadce0;       
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}


.language{
    font-size: 10px;
}
.language a{
    font-size: 10px;
    color: #0b4fad;
}

footer {
  background-color: #f2f2f2;
  color: #70757a;
  font-size: 14px;

  width: 100%;
  margin-top: auto;
}

.country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 12px 16px;
  gap: 8px;
}

.footer-left,
.footer-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 16px;
}

@media (min-width: 768px) {
    #all {
        display: none;
    }
    #gmail{
        display: flex;
    }

    header nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav a {
        font-weight: 200;
    }
    #google-lebs {
        order: 0;
    }
    .ai-mode {
        order: 1;
        background: #f3f4f5;
    }

    .ai-mode span{
        display: flex;
    }

    .language, .language a{
        font-size: 14px;
    }

    .footer-link {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 32px;

        padding: 0 24px;
    }

    .footer-left,
    .footer-right {
        justify-content: flex-start;
        gap: 24px;
    }

    .footer-right {
        justify-content: flex-end;
    }
}


button {
    font-family: inherit;
    font-size: 14px;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}